/LAB04_3/nbproject/private/
/LAB04_3/build/
/LAB04_4/nbproject/private/
/LAB04_5/nbproject/private/
/LAB04_5/dist/
/LAB04_5/build/
/LAB04_7/nbproject/private/
/LAB03/dist/
/LAB05_3/nbproject/private/
/LAB05_4/nbproject/private/
/LAB06/nbproject/private/
/LAB06/build/
/LAB06/dist/
/LAB07/nbproject/private/
/LAB07/build/
/LAB07/dist/
/LAB07_2/nbproject/private/
/LAB07_2/build/
/Pre-Midterm-P-Fewz/nbproject/private/
/Pre-Midterm-AJ-Bank/nbproject/private/
/Pre-Midterm-AJ-Bank/build/
/Pre-Midterm-P-FewPz/nbproject/private/
/Pre-Midterm-P-FewPz/build/
/Pre-Midterm-P-FewPz/dist/
/Test_Chap_8/nbproject/private/
/Test_Chap_8/build/
/Test_Chap_8/dist/
/LAB08_3/nbproject/private/
/LAB08_3/build/
/LAB08_3/dist/
/LAB08_04/nbproject/private/
/LAB08_04/build/
/LAB08_5/nbproject/private/
/LAB08_5/build/
/LAB08_06/nbproject/private/
/LAB08_04/dist/
/LAB08_06/build/
/LAB09_02/nbproject/private/
/LAB09_02/build/
/LAB09_03/nbproject/private/
/LAB09_03/build/
/LAB09_02/dist/
/LAB10_1/nbproject/private/
/LAB10_1/build/
/LAB10_2/nbproject/private/
/LAB10_2/build/
/LAB10_3/nbproject/private/
/LAB10_3/build/
/LAB10_3/dist/
/LAB10_2/dist/
/LAB11_1/nbproject/private/
/LAB11_1/build/
/LAB11_1/dist/
/LAB11_2/nbproject/private/
/LAB11_2/build/
/LAB11_2/dist/
/LAB12_1/nbproject/private/
/LAB12_1/build/
/test/nbproject/private/
/test/build/
